PRONOTE_URL=https://monestablissement.index-education.net/pronote/
PRONOTE_USERNAME=
PRONOTE_PASSWORD=
PRONOTE_SIMULATION=true
DB_PATH=data/pptracker.db
DB_KEY=
SYNC_INTERVAL_HOURS=6
SYNC_PERIODE=T1
BACKUP_PATH=
BACKUP_INTERVAL_HOURS=24
